   .navbar {
    background-color: black;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
  }
  
  .logo {
    font-size: 38px;
    color: white;
    font-weight: 900;
    text-decoration: none;
  }
  
  .logo span {
    color: #ffa343;
    text-decoration: none;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar ul li {
    margin-right: 20px;
  }
  
  .navbar ul li:last-child {
    margin-right: 0;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 15px 22px;
    transition: all .50s ease;
  }
  
  .navbar a:hover {
    color: #ffa343;
    text-decoration: none;
  }
  
  .h-right a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    vertical-align: middle;
    transition: all .50s ease;
  }
  
  .h-right a:hover {
    color: #ffa343;
    text-decoration: none;
  }
  
  .logo,
  .h-right a {
    text-decoration: none;
  }
  .header-icon {
    color: white;
    font-size: 24px;
    text-decoration: none;
    margin-left: 10px;
}
.navbar .nav-link {
  cursor: pointer;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
  }

  .menu-toggle {
    display: flex;
  }

  .nav-links.open {
    display: flex;
  }

  .h-right {
    display: none;
  }

  .content h1 {
    font-size: 2rem;
  }

  .content p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 24px;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .navbar a {
    font-size: 16px;
    margin: 10px 0;
  }

  .btn {
    padding: 8px 16px;
    font-size: 14px;
  }
}
